h1{
	font-family:"Alkatra", system-ui;
	text-align:center;
	color:white;
	font-size:80px;
	margin-top:2cm;
}
p{
	font-family:"Alkatra", system-ui;
	text-align:center;
	color:white;
	font-size:30px;
}
.instagram{
	height:2cm;
	width:2cm;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.github{
	height: 2cm;
	width: 2cm;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
body{
  background-image: url('conduc.gif');
  background-repeat: no-repeat;
  background-size:cover;
  background-color:black;
}
