h1{
	font-family:"Alkatra", system-ui;
	text-align:center;
	color:white;
	font-size:80px;
	margin-top:2cm;
}
p{
	font-family:"Alkatra", system-ui;
	text-align:center;
	color:white;
	font-size:30px;
}
.instagram{
	height:2cm;
	width:2cm;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.github{
	height: 2cm;
	width: 2cm;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
body{
  background-image: url('https://media.discordapp.net/attachments/1229870525543616574/1232148891395166228/Untitled_design.png?ex=66286793&is=66271613&hm=5090b5df5b5ae1da0e117facdd6bd1e811936a85e8c2af82728b124e4e056c5c&=&format=webp&quality=lossless&width=687&height=386');
  background-repeat: no-repeat;
  background-size:cover;
  background-color:black;
}
