h1{
	font-family:"Alkatra", system-ui;
	text-align:center;
	color:white;
	font-size:80px;
	margin-top:2cm;
}
p{
	font-family:"Alkatra", system-ui;
	text-align:center;
	color:white;
	font-size:30px;
}
.instagram{
	height:2cm;
	width:2cm;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.github{
	height: 2cm;
	width: 2cm;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
body{
  background-image: url('https://media.discordapp.net/attachments/1229870525543616574/1229870596381474866/Portal_Tech_Co..png?ex=66314140&is=661ecc40&hm=9359e4b115fa447c1f2f4ab845598a252f51ee9ebdc5ba3a4146eb3ba0b42314&=&format=webp&quality=lossless&width=1191&height=670');
  background-repeat: no-repeat;
  background-size:cover;
  background-color:black;
}
